---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import Specials from '../components/Specials.astro';
import Menu from '../components/Menu.astro';
import Catering from '../components/Catering.astro';
import Hours from '../components/Hours.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FAQ from '../components/FAQ.astro';
---
<Layout title="Habanero Mexican Cafe | Authentic Mexican Food in Austin, TX">
  <Nav />
  <main>
    <Hero />
    <About />
    <Gallery />
    <Specials />
    <Menu />
    <Catering />
    <Hours />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
